<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Quotes</title>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		
		<script>
	$(document).ready(function(){
		{% for i in range(4) %}
		$("#cd{{i}}").click(function(){
    		$("#name").val("{{examples[i][1]|safe}}");
    		$('#inlineRadio{{examples[i][2]}}').prop("checked", true)
    		})
    	{% endfor %}

		
		})
		</script>
	</head>
	
	
	<body>
	<div class="container">
		<div>
  			<h1>What the NBA would look like if shots were scored with ...</h1>
		</div>
		<form id='userinfoform' method='post' action='index' >
		<p>Enter an expression using % as your independent variable using standard python syntax. Functions like log are already in the namespace: <input type="text" class="form-control" name="name" id="name" placeholder="2 if % < 23 else 3"></input></p>
		<p>Some examples:
		<ol> 
		{% for i in range(4) %}
		<li> {{examples[i][0]}} <input class ="btn btn-primary" id="cd{{i|safe}}" type="button" value="{{examples[i][1] |safe}}" onClick=" check(); ">
		{% endfor %}
		</ol></p>
		<p>Do you want to include free throws?    <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value='1' checked> Yes
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value=''> No
</label></p>
		      <p>
    <input type='submit' class ="btn btn-primary" value='Submit' />
      </p>
		</form>
		</div>
	</body>
</html>
